<!DOCTYPE html>
<html lang="en">
  <!--[ Use nav bar on every page ]-->
  <%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>
  <body>
    <div>
      <h1>404: Not Found</h1>
      <p>Sorry, we can't find <strong><%= url %>.</strong></p>
    </div>
  </body>
</html>
