<!DOCTYPE html>
<html lang="en">
  <!--[ Use nav bar on every page ]-->
  <%- include('../includes/head.ejs') %> <%- include('../includes/nav.ejs') %>
  <body>
    <div>
      <h1>Sami Airlines</h1>
      <p>
        <br />
        <img src="/images/plane_homepage.png" height="50%" width="70%" />
      </p>
      <p>
        Please
        <a href="/login">Log in</a>
        to book a flight
      </p>
      <br />
    </div>
  </body>
</html>
